@using MyMOVEItTask.Models
@model UserViewModel
@{
    ViewData["Title"] = "Authorization Page";
}

<div class="text-center">
    <h1 class="display-6">Enter Credentials:</h1>
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Authorization">
        <div class="form-group" style="margin:10px;">
            <div style="padding:10px;">
                <input asp-for="Username" name="username" />
            </div>
            <div>
                <input asp-for="Password" type="password" name="password" />
            </div>
            <div style="margin:10px;">
                <input type="submit" value="Submit" />
            </div>
        </div>
        @if (ViewBag.AccessToken != null)
        {
            <div class="alert alert-success">
                <p>@ViewBag.AccessToken</p>
            </div>
        }
        <div class="text-danger">
            @foreach (var modelState in ViewData.ModelState.Values)
            {
                foreach (var error in modelState.Errors)
                {
                    <h6 class="alert alert-danger">@error.ErrorMessage</h6>
                }
            }
        </div>
    </form>
</div>
